html{
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    font-family: "Lato";
    background-color: #1f1f1f;
}
nav{

    display: flex;
    justify-content: space-between;
    background-color: #bb3333;
    width: 100%;
    align-items: center;
    opacity: 0.6;
}
nav:hover{
    opacity: 1;

}
.logo{
    padding-inline-start: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.links li{
    display: block;
    display: inline;
    color: White;
    padding-inline-end: 4rem;
}

.links a{
    text-decoration: none;
    color: White;
    font-size: 1.5em;
    font-family: "Heebo", sans-serif;
}

.links li{
    text-decoration: none;   
}

.links a:hover{
    color: #000;
    font-weight: bold;

}
.SiteName h1{
    text-align: center;
    color: #ffffff;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin-bottom:0px;

}
.SiteName p{
    margin-top: 0px;
    text-align: center;
    color: #ffffff;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    font-size: 1em
}
footer{
    background-color: #6e2222;
    color : white;
    padding: 1rem;
}
.FooterLinks{
    margin-left: 2rem;
}
.FooterLinks a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    display: block;
    padding: 0.5em;
    max-width: 20rem;
    border-radius: 0.5rem;
}
.FooterLinks a:hover{
    text-decoration: none;
    background-color: #1f1f1f;
    font-weight: bolder;
}

.MemeTitle h2{
    color: white;
    text-align: center;
    font-size: 3em;
}
.MemeContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    justify-content: center;
    max-width: 100em;
    width: 95%;
    border-radius: 10px;
    box-shadow: 0 2px 10px #1f1f1f;
    color: #fdfdfd;
    font-family: "Heebo", sans-serif;
}
.buttons{
    display: flex;
    justify-content:space-evenly;
    padding: 5rem;
}
.buttons a{
    display:  block;
    background-color: #bb3333;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 2px 2px #6e2222;
    text-decoration: none;
    color: white;
}
.buttons a:hover{
    color: #1f1f1f;
    background-color: #0b506e;
    box-shadow: 5px 5px 2px 2px #09425a;
}
.Meme{
    display: flex;
    justify-content: center;
    height: 50rem;
}
.Meme img{
    display: block;
    padding: 1rem;
    background-color: #bb3333;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 5px #6e2222;

}
