<!DOCTYPE html>
<html>
	<meta name="theme-color" content="#bb3333" />
	<title>Management</title>
	<link href="{{ url_for('static', filename='CSS/art.css')}}" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Heebo" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='/Assets/favicon.ico') }}">
    <!--
	<link rel="preconnect" href="https://fonts.gstatic.com">
	
	 -->
</head>
<body>
	<header>
		<nav id="site-navigation-bar">
			<div id="logo" class="logo">
				<img src="{{ url_for('static', filename='Assets/Meat.png')}}" width="100"/>
				<div class="SiteName">
					<h1>Meaty Management</h1>
					<p>Real Enterprise Management</p>
				</div>
			</div>
			<div id="links" class="links">
				<ul>
					<li><a href=".">Home</a></li>
					<li><a href="./anison">Anison</a></li>
					<li><a href="https://discordapp.com/invite/w3q83JJ/">Join</a></li>
				</ul>
			</div>	
		</nav>
	</header>




	<footer>
		<p>For any issues or questiosn regarding this website please contact max@meaty.management or cake@meaty.management who will be able to answer your query</p>
		<div class="FooterLinks">
			<p><a href="./privacy">Privacy Policy</a></p>
			<p><a href="https://cytube.xyz/r/anilist">Anison</a></p>
			<p><a href="https://anilist.co/forum/thread/2158">Anilist</a></p>
			<p><a href="https://discord.gg/tfnCQFwDNx/">Discord</a></p>
            <p><a href="https://meaty.uno/">Sister Site</a></p>
		</div>
		<p>Legal Disclaimer, Meaty Management are a limited liability company registered in the United Kingdom of Great Britain and Northern Ireland as such all legal action fall under British common law.</p>
		<p> Meaty Management is trade marked under the Trade Marks Act of 1994 unauthorised and unlicnesed use for the Meaty Management Trade Mark will result in legal action.</p>
		<p>Meaty Management© 2022</p>
	</footer>
</body>

<script>


</script>
</html>